<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width">

{{ if .IsHome }}
    <meta property="og:title" content="{{ site.Title }}" />
{{ else }}
    <meta property="og:title" content="{{ .Title }}" />
{{ end }}

{{ if .Params.description }}
    <meta property="og:description" content="{{ .Params.description }}">
{{ end }}

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
